//Typography

$font-h1: 'Cormorant Garamond', serif;
$font-h2: 'Montserrat', sans-serif;
$font-h3: 'Montserrat', sans-serif;
$font-navlink: 'Playfair Display', serif;
$font-p: 'Open Sans', sans-serif;

h1 {
  color: $colour-heading;
  font-family: $font-h1;
  padding-top: 1.5rem;
	text-align: center;
	font-weight: 600;
}

h2 {
  color: $colour-secondary;
  font-family: $font-h2;
	text-align: center;
	font-weight: 600;
}

h3 {
	font-family: $font-h3;
	font-weight: 500;
}

.nav-link {
  color: $colour-secondary;
  font-family: $font-navlink;
  font-size: 22px;
}

p {
  font-family: $font-p;
	font-size: 20px;
	
	@media (max-width: 576px) {
		font-size: 16px;
  }
}

q {
  font-family: $font-navlink;
  font-size: 32px;
	text-align: center;

	@media (max-width: 576px) {
		font-size: 28px;
  }
}
